html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /*padding: 0;
  margin: 0;*/
  cursor: url(../img/cursor.png), default;
  /*background-color: #c0c86d;*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /*align-items: center;*/
}

header {
  margin: 1rem auto;
}

.nav-mole {
  width: 90%;
  margin: 0 auto;
}

section, .bg {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  width: 100%;
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.hole-container {
  flex: 0 0 25%;
  justify-content: center;
  align-items: center;
  margin: .5rem auto;
}

.hole {
  margin: 0 auto;
  background-color: black;
  border-radius: 50%;
  overflow: visible;
  width: 270px;
  height: 270px;
}

.mole {
  position: relative;
  right: 1.63rem;
}

.hungry {
  cursor: url(../img/cursor-worm.png), default
}

.gone,
.hide {
  display: none;
}

.win {
  max-width: 50%;
  max-height: 50%;
  margin: 5rem auto;
}

.worm-box {
  width: 100%;
}

.worm-container {
  overflow: hidden;
  transition: width 0.5s ease-in-out;
  width: 100%;
}

.worm {
  width: 1660px;
}

@media (max-width: 1460px) {
  .worm-box {
    width: 100%;
  }
  .worm {
    width: 1280px;
  }
}
