/* COLORS (Adobe compound)
light blue (base) = #c4d9ff
lavender =          #9589cc
dark blue =         #4a3999
light orange =      #ffcc85
puce =              #cca689
  */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #cca689;
  background-color: #9589cc;
  background-image: url("../img/cloudy-blue-sky.jpg");
}
.wrapper {
  width: 90%;
  margin: 3rem auto;
  padding: 0;
  background-color: #c4d9ff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
a:hover {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
}
section {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
section p{
  margin: 1rem 1rem;
  padding: 0;
  font-size: .9rem;
}
p {
  margin: 1rem auto;
  padding: .5rem;
  color: #4a3999;
}
/*HEADER*/
header {
  /*border: .3rem solid blue;*/
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
header img, #circle {
  border-radius: 100%;
  margin: .6rem;
  height: 100px;
  width: 100px;
}
header h1 {
  padding-top: .5rem;
}
/*NAV*/
nav {
  /*border: .3rem dashed red;*/
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #ffcc85;
  opacity: 85%;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  /*border: 2px dotted green;*/
  list-style-type: none;
  flex-basis: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
li {
  width: 7rem;
  text-align: center;
  padding: .3rem .2rem;
  margin: 0;
}
/*INDEX PAGE*/
.comment-div {
  margin: 0 0 1rem 2rem;
}
#comment {
  color: aliceblue;
  text-shadow: 2px 2px 2px #9589cc;
  padding: 0 1rem;
}
/*COMMENT PAGE*/
#circle {
  background: aliceblue;
  border-radius: 50%
}
fieldset {
  font-size: .8rem;
}
label, input:not([type="radio"]), textarea {
  display: block;
  margin-bottom: .3rem; 
}
input[radio] {
  display: inline;
}
input{
  background-color: aliceblue;
  color: black;
}
#message {
  background-color: aliceblue;
  color: black;
  height: 10rem;
  width: 15rem;
}
.link {
  display: block;
  font-size: 1rem;
  margin-top: .6rem;
}
button {
	font-size: .9rem;
	margin: 1rem 1rem .5rem 1rem;
	background-color: #9589cc;
	color: white;
	border: none;
	padding: .5rem 1rem;
  border-radius: 10px;
}
button:hover {
	background-color: white;
	color: #9589cc;
}
.form-div p {
  font-size: .7rem;
}
form p {
  color: #9589cc;
  font-size: .7rem;
  margin: 0 2rem;
}
/*CAT PAGE*/
.cats {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.cats-div {
  flex: 0 0 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 1px dashed #4a3999;
}
.cats-div img, video {
  margin: .5rem 1rem;
}
.cats-table table {
  flex: 0 0 80%;
  margin: 2rem auto;
  border-collapse: collapse;
  border: 1px dashed #4a3999;
}
.cats-table th, td {
  border: 1px dashed #4a3999;
  padding: .5rem 2rem;
  margin: 0;
  text-align: center;
}
.cats-table th {
  background-color: #9589cc;
}
/*changes for smaller screens*/
@media
only screen and (max-width: 900px), (min-device-width: 768px) and (max-device-width: 1024px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {border: 1px solid #ccc;}
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 6px;
    padding-right: 10px;
    white-space: nowrap;
  }
  td:nth-of-type(1):before {content: "Color:";}
  td:nth-of-type(2):before {content: "Breed:";}
  td:nth-of-type(3):before {content: "Age:";}
  td:nth-of-type(4):before {content: "Status:";}
}
/*KIDS PAGE*/
.kids-p {
  margin-top: 2rem;
  text-align: center;
}
.kids-div{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.kids-card {
  height: 20rem;
  flex-basis: 25%;
  background-color: #9589cc;
  margin: 1rem;
  border-radius: 10%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.kids-book-img {
  height: 10rem;
  width: 7.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
.kids-card p {
  padding: 0;
  margin: 0 auto;
}
.amazon-logo {
  height: 1.5rem;
  width: 2rem;
}
.amazon-logo:hover {
  border: 2px dotted aliceblue;
}
/*OUTSIDE PAGE*/
.outside {
  flex: 0 0 80%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}
aside {
  font-size: .8rem;
  padding: .5rem;
  flex: 0 0 5%;
  }
  aside ul {
    display: flex;
    flex-flow: column nowrap;
  }
  aside li, a {
    width: 7rem;
  }
  article {
    border: 2px solid #9589cc;
    border-radius: 0 5% 5% 0;
    margin: .7rem 0;
    flex: 0 0 75%;
    display: flex;
    flex-flow: row wrap;
  }
  article img{
    margin: .5rem;
    padding: .5rem;
  }
  article h5 {
    margin: .5rem;
    padding: .5rem;
    flex: 0 0 40%;
    color: #9589cc;
    text-shadow: 1px 1px 1px #cca689;
  }
  /*changes for smaller screens*/
@media
only screen and (max-width: 900px), (min-device-width: 768px) and (max-device-width: 1024px){
  article h5 {
    margin: .5rem;
    padding: .5rem;
    flex: 0 0 80%;
    color: #9589cc;
    text-shadow: 1px 1px 1px #cca689;
  }
}